section.recipes-section
  h3.section-title
    | Recetas más sanas
    i.fas.fa-chevron-down
  .recipe#recetas
    .container
      h4.recipe-title Hamburguesas de porotos negros
      .video-wrap
        iframe(width="560"
        height="315"
        src="https://www.youtube.com/embed/JZB8QRS0qc0"
        frameborder="0"
        allowfullscreen)
      .recipe-text
        p INGREDIENTES
        p
          | - Lorem ipsum
          br
          | - Dolor sit amet
          br
          | - Consectetuer adipiscing elit.
          br
          | - Aenean commodo ligula.
          br
          | - Aenean massa.
        p PREPARACIÓN
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim

  .recipe.orange
    .container
      h4.recipe-title Hamburguesas de porotos negros
      .video-wrap
        iframe(width="560"
        height="315"
        src="https://www.youtube.com/embed/JZB8QRS0qc0"
        frameborder="0"
        allowfullscreen)
      .recipe-text
        p INGREDIENTES
        p
          | - Lorem ipsum
          br
          | - Dolor sit amet
          br
          | - Consectetuer adipiscing elit.
          br
          | - Aenean commodo ligula.
          br
          | - Aenean massa.
        p PREPARACIÓN
        p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim

