section.tips-section
  h3.section-title
    | Descubre tips saludables
    i.fas.fa-chevron-down
  .container#tips
    h4.tips-title
      | ¡VEN A JUMBO, TE INVITAMOS A MOVERTE
      br
      | POR UNA VIDA MÁS SANA!
      br
      br
    .tips-text
      | Sigue los consejos y tips de Jumbito y sus Amigos, para que vuelvas a clases con la energía que necesitas para toda la semana.

    .video-wrap
      iframe(width="560"
      height="315"
      src="https://www.youtube.com/embed/JZB8QRS0qc0"
      frameborder="0"
      allowfullscreen)

    .video-wrap
      iframe(width="560"
      height="315"
      src="https://www.youtube.com/embed/JZB8QRS0qc0"
      frameborder="0"
      allowfullscreen)
